body {
font-family: Arial;
margin: 0;
background-color: #f4f4f4;
text-align: center;
}

header {
background-color: #003366;
color: white;
padding: 20px;
}

nav {
background-color: #0055aa;
padding: 10px;
}

nav a {
color: white;
margin: 15px;
text-decoration: none;
font-weight: bold;
}

section {
padding: 40px;
}

button {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}
